@CHARSET "ISO-8859-1";

/* Reset CSS
* --------------------------------------- */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}


/* Custom CSS
* --------------------------------------- */

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 26px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: geometricPrecision;
    background: #f7f7f7;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrapper {
    padding: 0px 25px 25px 25px;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - 129px);
    bottom: 0px;
}

.long {
    display: inline;
}


/* Nav
* --------------------------------------- */

header {
    position: fixed;
    display: block;
    z-index: 9;
    padding: 25px 25px 0px 25px;
    top: 0px; 
}

ul#menu li:after {
    content: " / ";
}

ul#menu li:last-child:after {
    content: " ";
}

li {
    display: inline;
    font-weight: 300;
}

a {
    color: #555;
}

.shade {
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    width: 100%;
    padding-bottom: 25px!important;
    background-color: rgba(247, 247, 247, 0.8);
}

ul.light a, ul.light li, .light a, .light li {
    color: white!important;
    text-shadow: 0px 0px 5px #bbb;
}

a:hover, ul.light a:hover {
    color: #fd5b5b!important;
    
}

ul.light a:hover {
    text-shadow: 0px 0px 5px #fd5b5b;
}


.fp-tooltip {
    color: #555!important;
}

#fp-nav span, .fp-slidesNav span {
    border-color: #555!important;
}

#fp-nav li .active span, .fp-slidesNav .active span {
    background: #fd5b5b;
}

.full {
    width: 100%;
}

.counter li:after {
    content: " / ";
}

.counter li:last-child:after {
    content: " ";
}

.counter {
    margin-top: 78px;
    width: 50%;
    float: left;
}

.cross {
    margin-top: 78px;
    width: 50%;
    float: left;
    text-align: right;
}


/* Text
* --------------------------------------- */

h1 {
    font-weight: 300;
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    word-wrap: break-word
}

p {
    margin: 0;
    font-size: 17.333px;
    line-height: normal;
    margin-bottom: 52px;
}

section {
    text-align: left!important;
}

.text {
    max-width: 28.6%;
    padding: 0px 52px 0px 0px;
}

.wide {
    max-width: 40%;
    overflow: hidden;
    line-height: 30px;
}


/* Images
* --------------------------------------- */

.cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: right;
}

.imagecontainer {
    height: 100%;
    width: 71.4%;
}

.imagecontainer2 {
    height: 100%;
    width: 100%;
}